<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>if conditions</h1>
    {% if a >= 12 %}
     {{a}}
    <h1>{% endif %}</h1> -->
    <!-- <h1>if-else conditions</h1>
    {% if a > b %}
    <h1>if conditios is get executed </h1>
    <h1>a is greater </h1>
    {% else %}
    <h1>else condition is get executed </h1>
    <h1>b is greater</h1>
    {% endif %} -->
    <!-- <h1>if-elif-else condition </h1>
    {% if a > b and a > c %}
    <h1>if block is get executed  and a is greater</h1>
    {% elif b > c %}
    <h1>else block is get executed  and b is greater</h1>
    {% else %}
    <h1>else block is get executed  and c is greater</h1>
    {% endif %} -->
    <h1>nested condition</h1>
    {% if a > b %}
        {% if a > c %}
        <h1>in if inner if block is get executed </h1>
        <h1>a is greater</h1>
        {% else %}
        <h1>in if inner else block is get executed </h1>
        <h1>c is greater</h1>
        {% endif %}
    {% else %}
        {% if b > c %}
        <h1>in else inner if block is get executed</h1>
        <h1> b is greater</h1>
        {% else %}
        <h1> in else inner else block is get executed </h1>
        <h1> c is get executed </h1>
        {% endif %}
    {% endif %}
</body>
</html>